*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans/open-sans-v15-latin-regular.woff2"), url("../fonts/OpenSans/open-sans-v15-latin-italic.woff2");
}

@font-face {
    font-family: 'Impact';
    src: url("../fonts/Impact/Impact.woff");
}

    /* header starts */

.header_menu {
    width: 100%;
    min-height: 10px;
    background-color: #202020;
    padding: 38px 0;
    position: fixed;
    z-index: 100;
}

.header_menu_nav {
    width: 100%;
    min-height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu_logo {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Impact';
    transition: 0.5s ease;
}

.header_menu_logo:hover {
    color: #e25050;
}

.header_menu_ul {
    position: relative;
}

.header_menu_ul ul {
    display: flex;
}

.header_menu_ul ul li a {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Impact';
    padding: 10px 14px;
    margin: 0 10px;
    transition: 0.5s ease-in;
    letter-spacing: 1px;
    font-weight: 400;
}

.header_menu_ul ul li a:hover,
.header_menu_ul ul li a.active {
    background: #e25050;
}

.header_menu_phone {
    width: 172px;
    height: 38px;
    background: #e25050;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65px;
    right: 0;
}

.header_menu_phone a {
    width: 50px;
    height: 38px;
    background: #bd4141;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Impact';
}

.header_menu_phone span {
    width: 100%;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.header_menu_button {
    background: transparent;
    color: #ffffff;
    font-size: 30px;
    border: none;
    outline: none;
    display: none;
}

.header_menu_ul.active {
    transform: translateX(0%);
}

.header_slider {
    width: 100%; 
    height: 892px;
    position: relative;
    top: 100px;
}

.header_slider_btn {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left, #383838, #46464603);
    background: linear-gradient(to right, #383838, #46464603);
    z-index: 1;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 50px;
}

.header_slider_btn:hover {
    background:rgba(121, 121, 121, 08);
}

.header_slider .left {
    left: 0;
}

.header_slider .right {
    right: 0;
    background: linear-gradient(to left, #383838, #46464603);
}

.header_slider .right:hover {
    background:rgba(121, 121, 121, 08);
}

.header_slider_item {
    width: 100%;
    min-height: 10px;
}

.header_slider_item_box {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s ease;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.header_slider_item_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_slider_item_box.active {
    opacity: 1;
}
    /* header ends */


    /* slider starts */

.slider_item_text {
    position: absolute;
    top: 70%;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.slider_item_text span {
    font-family: 'OpenSans';
    font-size: 14px;
    color: #ffffff;
    background-color: #da504d;
    text-transform: uppercase;
    padding: 15px 22px;
}

.slider_item_text h1 {
    font-family: 'OpenSans';
    font-size: 30px;
    color: #fefefe; 
    text-transform: uppercase;
    background-color: #292320;
    padding: 20px 22px;
    margin: 5px 0;
}

.slider_item_text p {
    font-family: 'OpenSans';
    font-size: 18px;
    color: #fefefe;
    background-color: #2f2925;
    text-transform: uppercase;
    padding: 20px 22px;
}
    /* slider ends */


    /* welcome starts */

.welcome {
    width: 100%;
    min-height: 10px;
    padding: 164px 0 70px 0;
}

.welcome_title {
    font-size: 30px;
    color: #202020;
    text-transform: uppercase;
    font-family: 'Impact';
    text-align: center;
}

.welcome_title span {
    color: #e25050;
}

.welcome_text {
    font-size: 16px;
    font-family: 'OpenSans';
    color: #c4c4c4;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    padding: 20px 0;
}

.welcome_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
}

.welcome_item_title {
    font-size: 14px;
    color: #202020;
    font-family: 'Impact';
    text-transform: uppercase; 
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.welcome_item_text {
    font-size: 13px;
    font-family: 'OpenSans';
    color: #777777;
    text-align: left;
    line-height: 20px;
    margin-top: 20px;
}

.welcome_item_title img {
    margin-right: 14px;
}
    /* welcome ends */


/* trainers starts */

.trainers {
    background: url(../images/bg_02.jpg);
    background-attachment: fixed;   
    padding: 65px 0 60px 0;
}

.trainers_superb_title {
    font-family: 'OpenSans';
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
}

.trainers_superb_hr {
    width: 45px;
    height: 1px;
    background-color: #ffffff;
    margin: 0 auto;
    border: none;
}

.trainers_card {
    width: 100%;
    height: 315px;
    margin-top: 60px;
    position: relative;
    cursor: pointer;
}

.trainers_card.active .trainers_front{
    transform: rotateY(180deg);
}


.trainers_card.active .trainers_back{
    transform: rotateY(360deg);
}



.trainers_front {
    width: 100%;
    height: 315px;
    background: #ffffff;
    position: absolute;
    backface-visibility: hidden;
    transition: 0.5s ease;
}

.trainers_front img {
    width: 100%;
    height: auto;   
}

.trainers_card_text {
    padding: 25px 0 0 20px;
}

.trainers_card_text h5 {
    font-size: 14px;
    color: #202020;
    text-transform: uppercase;
    font-family: 'OpenSans';
    font-weight: 800;
}

.trainers_card_text p {
    font-size: 12px;
    color: #afafaf;
    text-transform: uppercase;
    font-family: 'OpenSans';
    font-weight: 400;
    margin-top: 5px;
}

.trainers_back {
    width: 100%;
    height: 315px;
    background: #ffffff;
    position: absolute;
    padding: 32px 20px 0 20px;
    transform: rotateX(180deg);
    backface-visibility: hidden;
    transition: 0.5s ease;
}

.trainers_back h5 {
    font-size: 14px;
    color: #202020;
    text-transform: uppercase;
    font-family: 'OpenSans';
    font-weight: 800;
}

.trainers_back p {
    font-size: 12px;
    color: #afafaf;
    text-transform: uppercase;
    font-family: 'OpenSans';
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}

.trainers_back span {
    font-size: 14px;
    color: #777777;
    font-family: 'OpenSans';
    line-height: 20px;
}

.trainers_back_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.trainers_back_icons a {
    margin: 0 5px;
    font-size: 18px;
    color: #afafaf;
    transition: 0.5s ease;
}

.trainers_back_icons a:hover {
    color: #e25050;
}

    /* trainers ends */



    /* gallery starts */

.gallery {
    width: 100%;
    min-height: 10px;
    padding: 60px 0;
}

.gallery_title {
    font-family: 'OpenSans';
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #202020;
    text-align: center;
    padding-bottom: 10px;
}

.gallery_hr {
    width: 45px;
    height: 2px;
    background-color: #202020;
    margin: 0 auto;
    border: none;
}

.gallery_text {
    font-size: 14px;
    font-family: 'OpenSans';
    color: #777777;
    text-align: center;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
}

.gallery_img {
    width: 100%;
    min-height: 10px;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

.gallery_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.gallery_img a {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #e25050;
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000083;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.gallery_img:hover a {
    height: 100%;
    opacity: 1; 
}


.gallery_img:hover img {
    transform: scale(1.5);
    filter: saturate(300%);
}

    /* gallery ends */


    /* pricing starts */

.pricing {
    background: #e25050;
    padding: 65px 0;
}

.pricing_title {
    font-family: 'OpenSans';
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
}

.pricing_hr {
    width: 45px;
    height: 2px;
    background-color: #ffffff;
    margin: 0 auto;
    border: none;
}

.pricing_cart {
    display: flex;
    justify-content: space-between;
    background: #d14343;
    margin-top: 60px;
    padding: 25px 10px;
    cursor: pointer;
    transition: 0.5s ease-in;
    border: 1px solid #e25050;
}

.pricing_cart:hover {
    border: 1px solid #ffffff;
    background: #d1434300;
    transform: scale(1.1);
}

.pricing_cart:hover hr {
    color: #ffffff;
} 

.pricing_cart_price h3 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    font-family: 'OpenSans';
}

.pricing_cart_price img {
    margin: 0 auto;
    display: block;
}

.pricing_cart_price p {
    font-size: 36px;
    font-weight: 900;
    font-family: 'OpenSans';
    color: #ffffff;
    position: relative;
}

.pricing_cart_price p span {
    font-size: 16px;
    position: absolute;
    bottom: 23px;
}

.pricing_cart hr {
    color: #e25050;
    transition: 0.5s ease;
}

.pricing_cart_text {
    margin-top: 15px;
}

.pricing_cart_text ul {
    padding: 0;
}   

.pricing_cart_text p {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
}

.pricing_cart_text i {
    margin-right: 8px;
}

    /* pricing ends */


    /* partners starts */

.partners {
    padding: 60px 0 70px 0;
} 


.partners_title {
    font-family: 'OpenSans';
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #202020;
    text-align: center;
    padding-bottom: 10px;
}


.partners_hr {
    width: 45px;
    height: 2px;
    background-color: #202020;
    margin: 0 auto;
    border: none;
}


.partners_slider {
    margin-top: 50px;
}

    /* partners ends */


    
    /* footer starts */

footer {
    background: url(../images/bg_04.jpg);
    padding: 56px 0 40px 0;
}

.footer_—Åontact {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'OpenSans';
    text-transform: uppercase;
}

footer p {
    color: #707070;
    line-height: 25px;
}

.p1 {
    padding: 30px 0;
}

footer input {
    width: 100%;
    height: 35px;
    background: #00000000;
    border: 2px solid #4f4f4f;
    color: #ffffff;
} 

.second_input {
    margin-left: 15px;
}

::placeholder {
    text-transform: uppercase;
    padding: 12px 0 12px 12px;
    font-size: 12px;
}

footer textarea {
    width: 100%;
    background: #00000000;  
    border: 2px solid #4f4f4f;
    color: #ffffff;
    height: 100px;
    margin-top: 16px;
    resize: none;
}

.input {
    display: flex;  
}

form {
    display: flex;
    padding: 30px 0;
}

.form_2 {
    margin-left: 20px;
}

.footer_button{
    margin-top: 16px;
    background: #e25050;
    color: #ffffff;
    border: none;
    padding: 14px 20px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s ease;
}

.footer_button:hover {
    background: #000000;
}


.footer_button i {
    padding-left: 15px;
}

.footer_send {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'OpenSans';
    text-transform: uppercase;
}

.footer_make {
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    font-family: 'OpenSans';
}

.copyright {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 88px;
}

.copyright .top {
    text-decoration: underline;
    color: #e25050;
    font-size: 14px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}


    /* footer ends */



@media screen and (max-width:992px) {
    .header_menu_ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        transition: 0.5s ease;
        background: #202020;
        transform: translateX(-100%);
    }

    .header_menu_ul ul {
        flex-direction: column;
    }

    .header_menu_ul ul li a {
        display: block;      
        text-align: center;
    }

    .header_menu_ul ul li  {
        margin-top: 20px;   
    }

    .header_menu_button {
        display: block;
    }

    .trainers_front {
    height: 365px;
    }

    .footer_send {
        margin-top: 30px;
    }

}

@media screen and (max-width: 844px) {
    .header_menu_phone {
        top: 74px;
        left: 34%;
    }
}

@media screen and (max-width: 768px) {
    .trainers_front {
        width: 100%;
        height: 350px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {    
    form {
    display: flex;
    flex-direction: column;
    margin-top: 30px 0;
    }
    
    .form_2 {
    margin-left: 0px;
    }

}

@media screen and (max-width: 700px) {
    .trainers_card {
    width: 50%;
    height: 300px;
    margin-bottom: 70px;
    }
}


@media screen and (max-width:680px) {
    .slider_item_text {
        left: 10%;
    }   
}


@media screen and (max-width: 500px) {
    .trainers_card {
    width: 80%;
    height: 310px;
    }

    .copyright {
        display: flex;
        flex-direction: column;
    }

}








